[transport-udp-nat]
type=transport
protocol=udp
bind=0.0.0.0:{{INTERNAL_SIP_PORT}}

;--- Local endpooints ----

[6001]
type=endpoint
context=from-internal
disallow=all
allow=ulaw
auth=6001
aors=6001
direct_media=no
force_rport=yes
rtp_symmetric=yes
rewrite_contact=yes

[6001]
type=auth
auth_type=userpass
password=unsecurepassword
username=6001

[6001]
type=aor
max_contacts=1
remove_existing=yes

[6002]
type=endpoint
context=from-internal
disallow=all
allow=ulaw
auth=6002
aors=6002
rtp_symmetric=yes
rewrite_contact=yes
direct_media=no
force_rport=yes

[6002]
type=auth
auth_type=userpass
password=unsecurepassword
username=6002

[6002]
type=aor
max_contacts=1
remove_existing=yes

; --- trunk - external provider---

[trunk]
type=registration
outbound_auth=trunk
server_uri={{TRUNK_REGISTRATION_SERVER_URI}}
client_uri={{TRUNK_REGISTRATION_CLIENT_URI}}
retry_interval=60

[trunk]
type=auth
auth_type=userpass
password={{TRUNK_AUTH_PASSWORD}}
username={{TRUNK_AUTH_USERNAME}}

[trunk]
type=endpoint
context=from-external
disallow=all
allow=ulaw
transport=transport-udp-nat
